.parentSc2 {
  width: 100%;
  padding: 15px;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
}

.parentSc2 .childrenManagement {
  height: 100px;
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.06);
}

.parentSc2 .myChildren {
  margin: 30px 15px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 29px;
  font-weight: bold;
  color: #000000;
}

.parentSc2 .addChildButton {
  margin-top: 15px;
  background: #ffffff;
  border: 1px solid rgba(254, 108, 53, 0.2);
  box-sizing: border-box;
  border-radius: 1px;
}

.parentSc2 .addChildPopup {
  margin-right: 20px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #fe6c35;
}

.parentSc2 .addUserIcon {
  margin-right: 5px;
  color: #fe6c35;
}
