.popupAdd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 9.9px;
  height: 165px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 1.6px 8px #bebebe;
}

.popupAdd img {
  display: flex;
  height: 100px;
  width: 100px;
  margin-top: -39px;
}

.missingText {
  font-style: normal;
  font-weight: bold;
  font-size: 19.04px;
  line-height: 28px;
  /* text-align: center; */
  color: #7a7a7a;
  margin-bottom: 10px;
}

.btnAddStudents {
  padding: 4px 20px;
  /* margin: auto; */
  background: #fe6c35;
  border-radius: 1px;
  color: white;
  margin-top: 14px;
  margin-bottom: 5px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  /* display: block; */
}
