
.sendPassword {
    color: gray!important;
    background-color: transparent !important;
    border: 1px solid gray !important;
    padding: 0 2rem!important;
    right: 40px;
    position: relative;
}
.auth-btn{
    color: gray!important;
    background-color: transparent !important;
    border: 1px solid gray !important;
}
.passwordContainer{
    display: flex;
    justify-content: space-evenly;
    border: black 1px solid;
    border-radius: 12px;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 4px black!important;
    padding: 2rem!important;
    width: 50%;
    
}

 
 /*antd default error message desgin*/
 /* .ant-form-item-explain, .ant-form-item-extra {
    margin-left: 188%;
    clear: both;
    min-height: 24px;
    padding-top: 20px;
    padding-bottom: 31px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 1.5715;
    -webkit-transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    width: 100%;
} */
