@import "~antd/dist/antd.css";

.studentsSwiper {
  width: 100%;
}
.StudentRoute {
  /* margin: auto; */
  padding: 10px;
  background-color: white;
  opacity: 0.9;
  box-shadow: 0px 1.6px 8px #bebebe;
  border-radius: 9.9px;
  height: 90.44px;
  margin: 38px 0;
}

.swiper-slide-active .StudentRoute {
  padding: 18px;
  position: absolute;
  top: -15px;
  width: 266px;
  height: 133px;
}
.swiper-slide-active .studentHeader {
  height: 50px;
}

.swiper-slide-active .studentImage img {
  display: flex;
  width: 38.36px;
  height: 38.36px;
}
.swiper-slide-active .studentName {
  font-size: 19.04px;
}
.swiper-slide-active .noticeDot {
  width: 6px;
  height: 6px;
}
.swiper-slide-active .notice {
  font-size: 11px;
}
.swiper-slide-active .path {
  font-size: 11.1375px;
}
.swiper-slide-active .path img {
  width: 11.91px;
  height: 11.91px;
}
.swiper-slide-active .startPoint {
  display: inline;
  margin: 4px;
  padding-left: 9px;
}

.swiper-slide-active .hours {
  margin-top: 0px;
}

.swiper-slide-active .hour {
  font-size: 12px;
  padding: 2px 12px;
}

.studentHeader {
  height: 40px;
}
.studentImage {
  float: right;
  font-family: Heebo;
}
.studentDetails {
  margin-right: 10px;
  float: right;
  text-align: right;
}
.studentImage img {
  display: flex;
  height: 28px;
  width: 28px;
}

.studentName {
  font-size: 16.04px;
  font-weight: bold;
}
.noticeDot {
  width: 4.38px;
  height: 4.38px;
  margin-left: 5px;
}
.notice {
  font-size: 8.02256px;
}

.path {
  text-align: right;
  margin-bottom: 5px;
  font-size: 8.12284px;
  font-weight: 500;
  font-family: Heebo;
  color: #6f6f6f;
}
.path img {
  width: 8.69px;
  height: 8.69px;
}

.startPoint {
  display: inline;
  margin: 4px;
  padding-left: 3px;
}
.LeftIcon {
  margin: 0 5px;
  border: 0.992578px solid #4ad3a5;
}

.arrow {
  display: inline;
  left: 126px;
  top: 15px;
  margin: 0 3px;
}
.endPoint {
  display: inline;
  margin: 4px;
}

.hours {
  margin-top: -4px;
}

.hour {
  display: inline;
  margin: 0 2px;
  padding: 1px 6px;
  border-radius: 2px;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 8.75188px;
  text-align: center;
  background: #f4f4f4;
  color: #929292;
  border-style: none;
  text-align: center;
}

/* .hour:hover {
  outline-color: lightslategrey;
  outline-width: 10px;
} */
.hour:focus {
  outline-color: #4ad3a5;
}
.hour:active {
  outline: none;
  background: #4ad3a5;
}

StudentRoute .active-slider {
  height: 500px;
}
