@import "~antd/dist/antd.css";

.Flowchart_Stations {
  background-color: gray;
  height: 640px;
  width: 360px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}

.ant-timeline.ant-timeline-right
  .ant-timeline-item-right
  .ant-timeline-item-content {
  padding-right: 23px;
}
