@import "~antd/dist/antd.css";

.Screen4 {
  position: relative;
}

/* .routeDirTab {
  width: 50% !important;
  display: block !important;
  font-size: 25px !important;
  color: black !important;
  padding: 20px 0 !important;
} */

.routeBtn {
  width: 50%;
  float: right;
  color: black !important;
}

.routeBtn.selected {
  border-bottom: 2px #959595 solid;
}

.refreshBtn {
  left: -85%;
  top: calc(100vh - (580px));
  position: relative;
  z-index: 1;
}

.mapWrapper {
  position: absolute;
  width: 100%;
  height: calc(100vh - (121px)) !important;
  margin-top: 2px;
}

.swiperWrapper {
  /* width: 100%;
  top: 634px; */

  bottom: calc(100vh - (1320px));
  width: 100%;
  /* top: 16px; */
  z-index: 1;
  position: absolute;
}
