@import "~antd/dist/antd.css";

.Screen4 {
  position: relative;
}

/* .routeDirTab {
  width: 50% !important;
  display: block !important;
  font-size: 25px !important;
  color: black !important;
  padding: 20px 0 !important;
} */
.routeDirButtons {
  display: block;
  height: 33px;
}
.routeBtn {
  width: 50%;
  float: right;
  color: black !important;
}

.routeBtn.selected {
  border-bottom: 2px #959595 solid;
}

.refreshBtn {
  left: -85%;
  top: calc(100vh - (580px));
  position: relative;
  z-index: 1;
  cursor: pointer;
}

button.ant-btn.refresh {
  position: absolute;
  top: 10px;
  left: 17px;
  z-index: 22;
}

.mapWrapper {
  position: relative;
  width: 100%;
  height: calc(100vh - (33px)) !important;
  margin-top: 2px;
}
.popupAddStudents {
  width: 100%;
  /* display: flex; */
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.swiperWrapper {
  /* width: 100%;
  top: 634px; */

  bottom: 0px;
  width: 100%;
  /* top: 16px; */
  z-index: 1;
  position: absolute;
}
