
.SettingContainer{
  display: flex;
  justify-content: space-evenly;
  border: black 1px solid;
  border-radius: 12px;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 4px black!important;
  padding: 2rem!important;
  width: 50%;
}


.btnlater{
  color: gray!important;
    background-color: transparent !important;
    border: 1px solid gray !important;
    margin: 0.3rem;
}
.btnFence{
  color: gray!important;
    background-color: transparent !important;
    border: 1px solid gray !important;
    margin: 0.3rem;
}