.SettingContainer {
  border-radius: 12px;
  align-items: center;
  flex-direction: column;
  padding: 2rem !important;
  text-align: center;
}

.btnlater {
  color: gray !important;
  background-color: transparent !important;
  border: 1px solid gray !important;
  margin: 0.3rem;
}
.btnFence {
  color: gray !important;
  background-color: transparent !important;
  border: 1px solid gray !important;
  margin: 0.3rem;
}

.btnSet {
  color: white !important;
  font-size: 24px;
  padding: 2rem 1.75rem;
  text-align: center;
  border-radius: 10px;
  top: 15px !important;
  background-color: black !important;
  border: 1px solid gray !important;
  margin: 0.3rem;
  border: transparent;
  text-align: center !important;
  line-height: 25.8%;
}
.btnFence {
  color: black !important;
  font-size: 24px;
  padding: 2rem 1.75rem;
  text-align: center;
  border-radius: 10px;
  top: 15px;
  background-color: #ede8e8 !important;
  line-height: 25.8%;
  margin: 0.3rem;
  border: transparent;
  text-align: center !important;
}
.studentSettingText {
  color: #c4c4c4;
  font-size: 13px;
}
.studentSettingHeader {
  font-size: 24px;
  line-height: 91.8%;
  left: calc(50% - 117px / 2);
}
.x {
  cursor: pointer;
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background-color: #ede8e8;
  position: absolute;
  bottom: 90%;
  margin: auto;
  right: 1%;
}
