@import "~antd/dist/antd.css";

.setData {
  position: relative;
  width: 375px;
  height: 667px;

  background: #ffffff;
}
.borderSet {
  position: absolute;
  width: 229px;
  height: 390px;
  left: calc(50% - 229px / 2);
  top: 109px;

  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
}

/* Frame 16 */

.fram16 {
  position: absolute;
  width: 28px;
  height: 28px;
  right: 12px;
  top: 10px;

  background: #ede8e8;
  border-radius: 15px;
}

.textSetData {
  position: absolute;
  width: 117px;
  height: 122px;
  left: calc(50% - 117px / 2);
  top: 67px;

  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 91.8%;
  /* or 22px */

  text-align: center;

  color: #000000;
}

.vector {
  position: absolute;
  left: 20.83%;
  right: 20.83%;
  top: 20.83%;
  bottom: 20.83%;
  font-size: larger;
  font: bold;
}
.set {
  position: absolute;
  width: 150px;
  height: 54px;
  left: calc(50% - 150px / 2 - 0.5px);
  top: 182px;

  background: #000000;
  border-radius: 10px;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 91.8%;

  text-align: center;

  color: #ffffff;
}

.later {
  position: absolute;
  width: 150px;
  height: 54px;
  left: calc(50% - 150px / 2 - 0.5px);
  top: 250px;

  background: #ede8e8;
  border-radius: 10px;

  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 91.8%;
  /* or 22px */

  text-align: center;

  color: #000000;
}
