.OneDayAndHour {
  border: 1px solid #ebebeb;
  height: 67px;
  line-height: 65px;
}
.OneDayAndHour .Day {
  float: right;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-right: 16%;
}
.OneDayAndHour .Hour {
  float: left;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-left: 20%;
}
.OneDayAndHour .Clock {
  width: 22px;
  margin-top: 22px;
  position: absolute;
  right: 77%;
  border: solid;
  border-width: 1px;
  border-color: #17191914;
}
