.OneDayAndHour {
  margin: 10px auto;
  border: 2px solid #ebebeb;
  height: 67px;
  line-height: 65px;
}
.OneDayAndHour .Day {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  font-weight: 500;
  margin-right: 16%;
}
.OneDayAndHour .Hour {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  font-weight: 500;
  margin-left: 20%;
}
.OneDayAndHour .Clock {
  width: 30px;
  margin-top: 22px;
  position: absolute;
  right: 77%;
  border: solid;
  border-width: 1px;
  border-color: #17191914;
}
