@import "~antd/dist/antd.css";

.child {
  margin: 5px;
  padding: 5px;
  background: #ececec;
  border-radius: 4px;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 59px;
  color: #000000;
}

.exit {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.school {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-weight: 700;

  line-height: 26px;
  color: #000000;
}

.arrow {
  border: 2px solid #000000;
  box-sizing: border-box;
  transform: rotate(180deg);
}
