@import "~antd/dist/antd.css";

.child {
  margin: 5px;
  padding: 5px;
  background: #ececec;
  border-radius: 4px;
}

.name {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 59px;
  /* identical to box height */

  color: #000000;
}

.exit,
.school {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  color: #000000;
}

.arrow {
  border: 2px solid #000000;
  box-sizing: border-box;
  transform: rotate(180deg);
}
