@import "~antd/dist/antd.css";

.child {
  margin: 5px;
  padding: 5px;
  background: #ffffff;
  border-radius: 4px;
}

.image {
  width: 60%;
}

.altImageAvatar {
  width: 64px;
  height: 64px;
  line-height: 64px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: #f56a00;
  background-color: #fde3cf;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  display: flex;
  align-items: flex-end;
  text-align: right;

  color: #000000;
}

.arrow {
  flex: auto;
  text-align: end;
  margin-left: 5px;
}

.line {
  opacity: 0.5;
  border: 1px solid #cfcfcf;
  transform: rotate(180deg);
}
