.splash {
  background-color: rgb(230, 230, 230);
  padding: 25px;
  width: 280px;
  height: 280px;
  border-radius: 10px;
  text-align: center;
  margin: 77px auto;
}

.animasion {
  animation: mymove 5s infinite;
  text-align: center;
  font-size: 20px;
}
