.splash{
    background-color: rgb(230, 230, 230);
    padding: 25px;
    width: 280px;
    height: 280px;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .animasion {

    animation: mymove 5s infinite;
    background-color: grey;


}